body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-row {
    height: 100vh;
    align-items: center;
}

#main-col {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#brand {
    max-height: 3rem;
    margin-top: 3rem;
}

#brand-logo {
    max-width: 3rem;
    object-fit: cover;
}

h1 {
    max-width: 360px;
    font-weight: lighter;
    font-size: x-large;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1 span {
    font-size: large;
}

h2 {
    font-weight: bold;
    font-size: small;
    margin-top: 18px;
    margin-bottom: 6px;
    color: tan;
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-size: large;
    margin-bottom: 12px;
    color: gray;
    font-weight: 500;
}

.items-container {
    margin-bottom: 15px;
}

.item-container {
    margin: 0px;
    padding: 15px
}

.item-image {
    max-width: 5rem;
    object-fit: fill;
    border-radius: 10px;
}

.item-info {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0px;
}

.item-name {
    font-weight: 500;
    font-size: small;
    margin-bottom: 0;
    line-height: 100%;
}

.item-description {
    font-weight: light;
    font-size: x-small;
    margin-bottom: 0;
    line-height: 100%;
    color: gray;
}

.item-price {
    font-size: x-small;
    font-weight: 500;
    margin: 0;
}

.item-add {
    padding-block: 0px;
    padding-inline: 12px;
    border: 0px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px gray;
}

.item-add-text {
    font-size: x-small;
    font-weight: 500;
    margin: 0;
    color: black !important;
}
